@keyframes load-rotation {
  to {
    transform: rotate(360deg);
  }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.members {
  margin: 0 auto;
  border-spacing: 0;
  th {
    font-weight: normal;
    background-color: #ccc;
  }

  tr.editing {
    background-color: #eee;
  }

  tr.deleted {
    background-color: #777;
  }

  td, th {
    padding: 5px 15px;
  }

  .loading-message svg {
    animation: load-rotation 1s steps(8, end) infinite;
  }
}