$color-background: #d9d9d9;
$color-accent: #ffdb0e;
$color-complementry: complement($color-accent);

$background-color-light: linear-gradient(to bottom, desaturate(darken(adjust-hue($color-complementry, -5), 25), 40), 70%, desaturate(darken(adjust-hue($color-complementry, 70), 40), 60));

$form-color: #eee;

html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    //height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: $color-background;
    font-family: Arial, Helvetica, sans-serif;

    &::after {
        content: ' ';
        z-index: -100;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 3em;
        //height: $background-height;
        background-color: $color-background;
        mask-image: url("sinln-back.png");
        mask-repeat: repeat-x;
        mask-position: bottom;
        mask-size: 100% auto;
    }
    
    &::before {
        content: ' ';
        z-index: -101;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 3em;
        background-image: $background-color-light;
    }
}

#root {
    max-width: 100%;
}
.splash {
    position: absolute;
    max-width: 100%;
    top: 0em;
    bottom: 8em;
    left: 0;
    right: 0;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        border-top: 2px solid $color-accent;
        border-bottom: 2px solid $color-accent;
        padding: 0.5em;
        font-size: 200%;
    }

    button {
        padding: 1em 3em;
        border: 2px solid $color-accent;
        border-radius: 1000px;
        background: #0004;
        color: $color-accent;
        font-size: 100%;
        margin-top: 1em;

        &:hover {
            background: #0009;
        }
    }
}

.splash + article {
    margin-top: 40em;
}
main {
    overflow: auto;
}

button {
    cursor: pointer;
}